h1{
    color: #ff0000;
}
.header {
    background-color: #eeaa00;
    display: flex;
    justify-content: space-between;
}
.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer {
    display: flex;
    justify-content: flex-end;
}
* {
    border: double;
    background-color: #888888;
}